@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #4c5270;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    opacity: 75%;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
}

i {
    font-size: 15px;
    color:#261b29;
}

hr {
    color: #ffffff00;
}

.button {
    display: inline-block;
    border-radius: 8px;
    background-color:#19a89e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px 0;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/*Navbar*/

.navbar {
    padding: 10px 20px 0 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #261b29;
}

.navbar-social-links a {
  display: grid;
  padding: 0;
  align-content: center;
  align-self: flex-end;
	height: 22px;
	width: 22px;
	background-color:#4c5270;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}

.navbar-social-links {
    display: flex;
}

.navbar-anchor-links {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding-left: 15px;
    padding-top: 12px;
    list-style: none;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a {
    padding-left: 10px;
    text-decoration: none;
    color: #e598d8;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color:#945cb9;
    cursor: pointer;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 0px;
    font-size: 2rem;
    cursor: pointer;
}

.menu-mobile i {
    display: none;
    color:#fff;
    align-items: center;
    align-self: center;
    font-size: 2rem;
}

  /*Hero*/

  .hero {
    background-image: url('hero-photo-1.png');
    background-size: cover;
    background-position: center;
    height: 700px;
  }

  .events-hero .hero {
    background-image: url('hero-photo-2.png');;
  }

  .hero-col {
    padding-top: 100px;
    padding: 20% 10%;
  }

  .hero-headline {
    margin: 0 0 1rem;
    animation: fadeInUp 2s forwards;
    opacity: 0;
    text-transform: capitalize;
  }

  .hero button {
    animation: fadeInUp 2s forwards;
  }

  /*About*/

  .about-section {
    background-image: url('bg-photo.png');
    background-size: contain;
    background-position: center;
    min-height: 40vh;
    padding: 50px 90px
  }

  .about-title h1 {
    color: #4c5270;
  }

  .about-txt {
    margin-top:20px
  }

  .about-txt p {
    padding-top: 0px;
  }

  .nxt-evnt-container {
    display:flex;
    background-color: #261b29;
    justify-content: space-between;
  }

  .nxt-container-col {
    padding: 80px;
    align-content: center;
    justify-content: center;
  }

  .nxt-evnt-container .nxt-container-col:nth-child(2) {
    text-align: center;
  }

  .nxt-container-col h1 {
    color: #19a89e;
    padding-top: 10px;
  }

  .nxt-container-col h3 {
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 3px;
    font-weight: 400;
  }

  h2{
    color: #e598d8;
  }

  .nxt-container-col p {
    color:#f6f6e970;
    padding-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .nxt-container-col i {
    color: #945cb9;
  }

  /* Image swiper in Next-Event Section*/

  .swiper {
    margin-bottom: 20px;
    width: 400px;
    height: 400px;
    border-radius: 8px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .media-partners-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:#945cb9;
    padding: 40px 50px;
  }

  .media-partners-container h1{
    font-weight: 400;
    color:#4c5270;
  }
  .media-partners-logos {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
  }

 /* Image Cards*/

 .past-events-title, .videos-title {
  padding-top: 8px;
  text-align: center;
  background-color:#e598d8;
 }

 .past-events-title h1{
  font-weight: 400;
  color:#4c5270;
 }

.events-container {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  background-color:#e598d8;
}

 .event-card {
  width: 320px;
  height: 320px;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color:#945cb900;
  opacity: 100%;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

 img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity .2s ease-out;
    filter: brightness(80%) opacity(85%);
  }

  h2 {
    width: 320px;
    padding: 0px 25px;
    padding-top: 5px;
    position: absolute;
    inset: auto auto 30px 0px;
    margin: 0;
    color:#f6f6e9;
    background-color:#4c5270;
    transition: inset .3s .3s ease-out;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }

  h3 {
    padding: 5px 25px;
    padding-bottom: 5px;
    width: 320px;
    position: absolute;
    inset: auto auto 0px 0px;
    color:#f6f6e9;
    background-color:#4c5270;
    transition: inset .3s .3s ease-out;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
  }

  p, a {
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }

  p {
    inset: auto auto 50px 30px;
    color: #f6f6e9;
  }

  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }

  i {
    color: #f6f6e9;
  }

  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }

  &:hover h3 {
    inset: auto auto 190px 30px;
    width: 240px;
    transition: inset .3s ease-out;
    transition: all 0.5s ease;
  }

  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }

  &:hover img {
    transition: opacity 1s ease-in-out;
    opacity: 1;
    filter: sepia(19%) blur(1px) brightness(58%) ;
    transition: all 0.5s ease;
  }

}

.material-symbols-outlined {
  vertical-align: middle;
}

/*Videos*/

.videos-title h1 {
  font-weight: 400;
  color:#4c5270;
  padding-top: 20px;
}

.video-title h2{
  color: #fff;
  padding-bottom: 15px;
}

.videos-container {
  display: grid;
  margin: 0 auto;
  padding: 20px 15px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  background-color:#e598d8;
}

.video-card {
  padding-top: 50px;
  max-Width: 1000px;
}

.video-frame {
  position: relative;
  width: 960px;
  height: 500px;
  overflow: hidden;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color:#945cb9;

}


/*Footer*/

footer {
  background-color: #261b29;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 5%;
	max-width: 1170px;
	margin: auto;
  height: 270px;
  padding: 0 15px;
  padding-top: 50px;
}


.footer-col{
  padding: 0 10px;
}

.footer-col li{
  padding-left: 0px;
  padding-top: 0;
  padding-bottom: 5px;
}

.footer-col ul{
  padding-top: 8px;
  justify-content: flex-start;
  align-items: start;
  text-align: start;
}

.footer-col p {
  color: #ffffff91;
  font-size: 1rem;
  padding-left: 14px;
}

.footer-col a {
  color: #ffffff91;
}

.footer-col h4{
	font-size: 18px;
	color:#ffffff;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 600;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:#945cb9;
	height: 2px;
	box-sizing: border-box;
	width: 60px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
  padding-left: 0;
	font-weight: 500;
	color:#f6f6e991;
	display: block;
  transition: all 0.3s ease;
	/* transition: all 0.3s ease; */
}

.footer-col ul {
  display: grid;
  padding-left: 0;
}

.footer-col ul li a:hover{
	color:#945cb9;
  font-weight: 500;
	/* padding-left: 8px; */
}

.footer-col .social-links a{
	display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
	height: 40px;
	width: 40px;
	background-color:#f6f6e991;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
  padding: 0;
}

.social-links{
  padding-top: 5px;
}

.footer-col .social-links a:hover{
	color:#945cb9;
	background-color:#945cb9;
}

.contact-info {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
.contact-line {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}

.footer-line {
  color: #f6f6e9;
  padding:0;
  margin-bottom: 10px;
  width:100%;
  opacity: 0.5;
  align-self: center;
}

.copyright {
  text-align: center;
  padding: 20px 30px;
}

.copyright p {
  color: #f6f6e9;
  opacity: 0.7;
  font-size: 1rem;;

}

@media screen and (max-width: 1000px){
    .swiper {
        margin-bottom: 20px;
        width: 300px;
        height: 350px;
        border-radius: 8px;
      }

      .hero {

        background-size:cover;
        background-position: center;
      }

      hr {
        color:#261b29;
    }

      .events-container {
        display:flex;
        flex-direction: row;
        max-width: 1000
      }

      .event-card {
        width: 100%;
        height: 400px;
        max-width: 450px;
        min-width: 450px;
        min-width: 300px;
        min-height: 300px;
      }

      .video-title h2{
        font-size: 1.2rem;
      }

      .videos-container {
        max-width: 1000px;
        display: block;
      }

      .video-frame {
        width: auto;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
      }
}


@media screen and (max-width: 767px){

    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color:#261b29;
        position: fixed;
        top: 50px;
        right: -70%;
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 10px;
        z-index: 2;
    }

    .navbar ul.active {
        right: 20%;
    }

    .navbar li {
        font-size: 1.2rem;
    }

    .navbar li a:hover {
        color:#945cb9;
    }

    .menu-mobile i {
        display: block;
    }

    hr {
        color:#ffffff;
        opacity: 50%;
        margin: 10px 0px;
        margin-bottom: 0;
        width: 120px;
    }

    .hero {

      background-size:cover;
      background-position: center;
      padding: 0 0%;
    }

    .nxt-evnt-container {
        flex-direction: column;
        background-color: #261b29;
        justify-content: center;
        margin: 0 0;
    }

    .swiper, .event-card {
        width:750px;
        max-width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .nxt-container-col {
        padding: 15px;
    }

    .about-section {
        padding: 50px 15px
    }

    .footer-col {
      padding: 0 0;
    }

    .footer-nav {
      flex-direction: column;
      gap:5px;
      padding: auto;
      height: 700px;
      padding-bottom: 20px;
    }

    .footer-col h4::before{
        background-color:#945cb9;
    }

    .contact-info {
      align-items: start;
      justify-content: flex-start;
    }

    .media-partners-logos {
      display: inline-block;
      margin-top: 30px;
    }

    .media-partners-logos img {
      padding: 15px;
    }
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(0);
    }

    100% {
      opacity: 1;
      transform: translateY(-20px);
    }
  }

